{
  "root": true,
  "extends": [
    "eslint:recommended",
    "next/core-web-vitals",
    "next/typescript",
    "prettier",
  ],
  "plugins": ["import"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "projectService": true,
  },
  "rules": {
    "require-await": "off",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          ["parent", "sibling", "index"],
          "object",
          "type"
        ],
        "pathGroups": [
          {
            "pattern": "@/**",
            "group": "internal",
            "position": "after"
          }
        ],
        "pathGroupsExcludedImportTypes": ["builtin"],
        "distinctGroup": true,
      }
    ]
  },
}
